body{
    
    background-repeat: stretch;
    font-family: 'Truculenta';
    font-size: 22px;
    margin: 0;
    }
    #gfg {
        color:rgb(206,246,9);
        font-size: 100%;
        font-family: 'Truculenta';
    }
    
    p{
        color:rgb(206,246,9);
        font-size: larger;
        text-align: center;
    }
<<<<<<< Updated upstream
    header{
      background-image: url("gym web photuuuuuu/gym_bg2.png");
      background-repeat: cover;
     font-family: 'Truculenta';
    }
=======
>>>>>>> Stashed changes
  
    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
    .button:hover {
        background-color: #555;
      }
    .left{
        display:inline-block;
        position: absolute;
        left:60px;
        top:20px;
    }

    .mid{
        display:block
        width: 33%;
        position: 20px auto;
        
    }
    .right{
        display:inline-block;
        position: absolute;
        left:60px;
        top:20px;
        font-size: medium;
    }
    .navbar{
        display:inline-block;
        font size: 100%;
        

    }
    .navbar li{
        display:inline-block;
        font size: 100%;
    
    }
    .navbar li a{
        color: rgb(206,246,9);
        text-decoration: none ;
        padding: 33px 28px;
        font size: 100%;
        
    }
    .navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    
    }
     h1{
        color:rgb(206,246,9);
      }
      
      html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      
    
      h2{
        font-size:large;
        color:rgb(206,246,9);
        
      }
      p1{
        font-size: small;
        color:rgb(206,246,9);
      }
      .grid-container {
<<<<<<< Updated upstream
        background-image: url("gym web photuuuuuu/woodoo.jpeg");
        display: grid;
        grid-gap:50px;
        grid-template-columns: auto auto auto auto;
=======
        display: grid;
        gap: 50px 100px;
        grid-template-columns: auto auto auto;
>>>>>>> Stashed changes
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
<<<<<<< Updated upstream
        background-repeat: stretch;
=======
        background-repeat: cover;
>>>>>>> Stashed changes
        padding: 80px;
        font-size: 30px;
        color: rgb(206,246,9);
        text-align: center;
        border-radius: 20px;
        height: 200px;
<<<<<<< Updated upstream
        width: 300px;
=======
>>>>>>> Stashed changes
        
        
      }
      .gym{
<<<<<<< Updated upstream
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/gymphotu.jpeg");
      }
      
      .pa{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/personalstuff.jpeg");
      }
      .diet{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/diet.jpeg");
      }
      .swimming{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/swimming.jpeg");
    
      }
      .meditation{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/yogaandallhaaaa.jpeg");
      }
      .zumba{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/zumba.jpeg");
      }
      .twenty{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/alldayopen\ -\ Copy.jpeg");
      }
      .guarantee{
        background: linear-gradient(rgb(163, 163, 194),rgba(16, 19, 18, 0.3)),url("gym web photuuuuuu/pkaapkaaresusults.jpeg");
      }
      div.scroll-container {
        background-image: url("gym web photuuuuuu/woodoo.jpeg");
        background-color: #333;
        grid-gap: 16px;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 10px;
        width:100;
      }
      
      div.scroll-container img {
        padding: 10px;
      }
     
=======
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("gymphotu.jpeg");
      }
      
      .pa{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("personal.jpeg");
      }
      .diet{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("diet.jpeg");
      }
      .swimming{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("swimming.jpeg");
    
      }
      .meditation{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("yoga.jpeg");
      }
      .zumba{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("zumba.jpeg");
      }
      .twenty{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("alldayopen\ -\ Copy.jpeg");
      }
      .guarantee{
        background: linear-gradient(rgba(68, 105, 114,0.5),rgba(41, 173, 125, 0.3)),url("guarantee.jpeg");
      }
    
      
      
>>>>>>> Stashed changes
