body{
  background-image: url("gym web photuuuuuu/offer_bg_3.jpeg"); 
  margin: 0 0; padding: 0 0 ; 
}

.box{
  padding:40px;
  border-radius:15px;
  align-items: center;
  display:flex;
  justify-content:center;

}
.button_more {
  border: none;
  outline: 0;
  display: inline-block;
  color: gray;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height:50px;
  align-items: center;
  display:flex;
  justify-content:center;
}
.button:hover {
  background-color: #555;
}


