body{
    font-family: 'Truculenta';
}
  
  .image {
    opacity: 1;
    display: block;
    width:auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .column:hover .image {
    opacity: 0.3;
  }
  
  .column:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color:darkgrey;
    color: rgb(206,246,9);
    font-size: 16px;
    padding: 16px 32px;
  }
  .column {
    float: left;
    width: 20%;
    color: rgb(206,246,9);
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 6px;
  }